<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar | Tienda</title>
</head>
<header class="header_ed_clientes">
    <a href="{{url_for('clientes')}} ">
        <button>HOME</button>
    </a>
    <h1>TIENDA PEPITO</h1>
</header>
<body>
    <main>
    <section  class="login">
        <div class="buscar">
            <form action="{{url_for('Buscar')}}" method="post">
                <input required type="text"  placeholder="Buscar" name="telefono" id="saldo">
                <button type="submit">Buscar</button>
            </form>

        </div>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Telefono</th>
                        <th>Estado Cuenta</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in Clientes %}
                    <tr>

                        <td>{{cliente[1]}}</td>
                        <td>{{cliente[2]}}</td>
                        <td>{{cliente[3]}}</td>
                        <td>{{cliente[4]}}</td>

                            
                        </td>

                        <td>
                            <a href="{{url_for('editar_cliente', codigocliente=telefono[0])}}" >
                                <button class="botons"> Editar</button>
                            </a>
                        </td>
                        <td>
                            <form action="{{('eliminar_cliente')}}" method="POST">
                                <input type="hidden" name="codigocliente" value="{{telefono[0]}}">
                                <button class="botons">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
    </section>
    </main>
</body>
</html>