<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../static/images/icono.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar | Tienda</title>
</head>
<header class="header_ed_clientes">
    <a href="{{url_for('clientes')}} ">
        <button>HOME</button>
    </a>
    <h1>TIENDA PEPITO</h1>
</header>
<body>
    <main>
    <section  class="login">
        <div class="buscar">
            <form action="{{url_for('Buscar')}}" method="post">
                <input required type="text"  placeholder="Buscar" name="telefono" id="saldo">
                <button type="submit">Buscar</button>
            </form>

        </div>
        
    </section>
    </main>
</body>
</html>