<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="shortcut icon" href="../static/images/icono.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Open+Sans:wght@500&family=Orbitron&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Clientes | Tienda</title>
</head>
<header class="header_ed_clientes">
    <form action="{{url_for('clientes')}}">
        <button>HOME</button>
    </form>
    <h1>TIENDA PEPITO</h1>
</header>
<body>
    <main>
    
<section class="login">
            <h3 class="titulo">Editar Cliente</h3>
            <br>
            <form action="{{url_for('actualizar_cliente')}}" method="POST">

                <input type="hidden" name="codigocliente" value="{{cliente[0]}}">
                <label class="nombreC" for="nombre">Nombre:</label>
                <input value="{{cliente[1]}}" required type="text" class="input" placeholder="Nombre" name="nombre" id="nombre">
<br>
<br>
                <label class="apellidoC" for="apellido">Apellido</label>
                <input value="{{cliente[2]}}" required type="text" class="input" placeholder="Apellido" name="apellido" id="apellido">
                <br>
                <br>
                <label class="telefonoC" for="telefono">Telefono</label>
                <input value="{{cliente[3]}}"required type="number" class="input" placeholder="Telefono" name="telefono" id="telefono">
                <br>

                <span>En este campo deve indicar el valor que desea gestionar en la cuenta campo *obligatorio indique 0 si no desea gestionar el saldo de la cuenta</span>

                <br>
                <label class="saldo" for="Cuenta">Cuenta</label>
                <input required type="number" placeholder="Saldo Cuenta"name="number"  id="number">
                <br>

                <span>Selecione el tipo de gestion<br>
                *Fiar de nuevo: para agregar un valor fiado <br>
                *Abonar: para agregar pagos de la deuda o abonos a la cuenta. <br>
                *Producto retirado: para restar el valor de un producto a la cuenta cuando hay dinero a favor del cliente.
                </span>

                <br>
                <div class="check">
                    
                    <div class="checkbox" >
                        <input type="radio" required id="tipocuenta" name="tipocuenta" value="1">
                        <p>Fiar de nuevo</p>
                    </div>

                    <div class="checkbox">
                        <input type="radio" required id="tipocuenta" name="tipocuenta" value="2">
                        <p>Abonar</p>
                    </div>

                    <div class="checkbox">
                        <input type="radio" required id="tipocuenta" name="tipocuenta" value="3">
                        <p>Producto retirado</p>
                    </div>
                </div>
                <button type="submit" class="button">Modificar</button>

            </form>
</section>
</body>
</main>