<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../static/images/icono.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Open+Sans:wght@500&family=Orbitron&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Tienda</title>
</head>
<body>
    <header>
        <h1>TIENDA PEPITO</h1>
    </header>
    <main>
        
        <div class="login">
            <h1>Iniciar Sesión</h1>
            <br>
            <br>
            <p>Correo</p>
            <input type="text" placeholder="Ingrese su correo. ">
            <br>
            <p>Contraseña</p>
            <input type="password" placeholder="Ingrese su contraseña. " >
            <br>
            <button>Iniciar Sesión</button>
        </div>
    </main>
    
</body>
</html>